name: Wheels

on:
  workflow_dispatch:
  # pull_request:
  # push:  # Disabled since it uses all my GitHub Actions time
  #   branches:
  #    - main
  release:
    types:
      - published

env:
  CIBW_TEST_COMMAND: pytest {project}/tests
  CIBW_TEST_EXTRAS: test

jobs:
  build_sdist:
    name: Build SDist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true
    - name: Build SDist
      run: pipx run build --sdist
    - name: Check metadata
      run: pipx run twine check dist/*
    - uses: actions/upload-artifact@v6
      with:
        name: sdist
        path: dist/*.tar.gz

  build_wheels:
    name: Wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    if: github.event_name == 'release'
    strategy:
      fail-fast: false
      matrix:
        os: ["macOS-latest", "ubuntu-latest", "windows-latest"]
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true
    - uses: actions/setup-python@v6
      with:
        python-version: '3.x'
    - name: Build and install
      run: python -m pip install --verbose ".[test]"
    - name: Remove CMake build directory (1/2)
      uses: JesseTG/rm@v1.0.3
      with:
        path: ./build
    - name: Remove CMake build directory (2/2)
      uses: JesseTG/rm@v1.0.3
      with:
        path: ./_skbuild
    - name: Install cibuildwheel
      run: python -m pip install cibuildwheel==3.3.1
    - name: Build wheels
      run: python -m cibuildwheel --output-dir wheelhouse
      env:
        CIBW_PROJECT_REQUIRES_PYTHON: ">=3.10.0"
        CIBW_BUILD: "cp3*"
        CIBW_ARCHS_MACOS: "x86_64 universal2 arm64"
        CIBW_ARCHS_LINUX: "auto64"
        CIBW_ARCHS_WINDOWS: "x86 AMD64"
        CIBW_TEST_SKIP: "*-macosx_arm64 *-macosx_universal2:arm64"
    - name: Upload wheels
      uses: actions/upload-artifact@v6
      with:
        name: wheels-${{ matrix.os }}
        path: wheelhouse/*.whl

  upload_all:
    name: Upload if release
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: github.event_name == 'release'
    steps:
    - uses: actions/setup-python@v6
      with:
        python-version: "3.x"
    - uses: actions/download-artifact@v7
      with:
        path: dist
    - name: Flatten distribution files
      run: |
        mkdir -p dist_flat
        find dist -type f \( -name "*.whl" -o -name "*.tar.gz" \) -exec mv {} dist_flat/ \;
        rm -rf dist
        mv dist_flat dist
    - uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
        attestations: false
